* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Arial', sans-serif;
 }
 body {
     background-color: #121212;
     color: #f0f0f0;
     max-width: 1000px;
     margin: 0 auto;
     padding: 25px;
     line-height: 1.6;
 }
 header {
     text-align: center;
     padding: 40px 0;
     border-bottom: 3px solid #2ECC71;
     margin-bottom: 30px;
 }
 h1 {
     color: #2ECC71;
     font-size: 4em;
     letter-spacing: 2px;
     margin-bottom: 10px;
 }
 header p {
     font-size: 1.2em;
     color: #BDC3C7;
 }
 .musica {
     padding: 10px 0;
 }
 .musica h2 {
     text-align: center;
     font-size: 2.5em;
     color: #2ECC71;
     margin-bottom: 35px;
     text-transform: uppercase;
     letter-spacing: 1px;
 }
 .cancion {
     background-color: #1E1E1E;
     padding: 25px;
     margin-bottom: 20px;
     border-radius: 15px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
     transition: transform 0.3s ease;
 }
 .cancion:hover {
     transform: translateY(-5px);
 }
 .cancion h3 {
     font-size: 1.8em;
     color: #2ECC71;
     margin-bottom: 15px;
 }
 audio {
     width: 100%;
     border-radius: 8px;
     background-color: #2C3E50;
     padding: 5px;
 }
 footer {
     text-align: center;
     padding: 30px 0;
     border-top: 3px solid #2ECC71;
     margin-top: 30px;
     color: #BDC3C7;
     font-size: 1em;}